body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #003300; /* verde escuro */
  color: white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

main {
  padding: 20px;
}

.hero {
  padding: 40px;
  background: #eafbea;
  text-align: center;
}

h2 {
  color: #004d00;
}

ul {
  margin-left: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 15px 0;
  background: #004d00; /* verde escuro */
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: #006600;
}

footer {
  background: #003300;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

footer a {
  color: white;
  margin: 0 10px;
  font-size: 22px;
}

footer a:hover {
  color: #00ff99;
}